<body class="app">
  <app-owner-header></app-owner-header>

  <div class="app-wrapper">
    <div class="app-card-body m-3">
      <form class="settings-form">
        <div class="mb-3">
          <label for="setting-input-1" class="form-label">Location<span class="ms-2" data-container="body"
              data-bs-toggle="popover" data-trigger="hover" data-placement="top"
              data-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg
                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                <circle cx="8" cy="4.5" r="1" />
              </svg></span></label>
          <input type="text" class="form-control" id="setting-input-1" value="Cairo"  [(ngModel)]="location" name="location"  required />
        </div>
        <div class="mb-3">
          <label for="setting-input-2" class="form-label">Price</label>
          <input type="text" class="form-control" id="setting-input-2" value="900.00" [(ngModel)]="price" name="price" required  />
        </div>
        <div class="mb-3">
          <label for="setting-input-2" class="form-label">Room Description</label>
          <input type="text" class="form-control" id="setting-input-2" value="This is my room" [(ngModel)]="description" name="description" required  />
        </div>
        <div class="mb-3">
          <label for="setting-input-2" class="form-label">Bed NO</label>
          <input type="text" class="form-control" id="setting-input-2" value="1" [(ngModel)]="numOfBeds" name="numOfBeds" required  />
        </div>
        <!-- <div class="mb-3">
          <label for="setting-input-3" class="form-label"
            >Business Email Address</label
          >
          <input
            type="email"
            class="form-control"
            id="setting-input-3"
            value="hello@companywebsite.com"
            />
          </div> -->
        <div class="form-check-label">

          <label class="form-check-label" for="settings-checkbox-2">
            Room Type
          </label>
          <br>
          <br>
          <select class="form-select w-100" [(ngModel)]="roomType" name="roomType">
            <option value="">Select a room type</option>
            <option value="Single">Single</option>
            <option value="Double">Double</option>

          </select>
        </div>
        <br>
        <!-- <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="settings-switch-1" checked>
          <label class="form-check-label" for="settings-switch-1">Project notifications</label>
        </div>-->
        <div class="row">
          <div class="col-md-3">
            <label>Services:</label>
            <div class="form-check mb-3" *ngFor="let s of services">
              <input #service class="form-check-input" type="checkbox" placeholder="Price" [value]="s.id" (change)="onServiceChange($event)">
              <label class="form-check-label" [for]="'settings-checkbox-' + s.name">
                {{s.name}}
              </label>
            </div>
          </div>
          <div class="col-md-9">
            <div >
              <label for="">Add more images to Your Room</label>
              <br>
              <input type="file" accept=".jpg,.jpeg,.png,.ico" (change)="onFileSelected($event)">
            </div>
            <br>
            <button type="button" (click)="onSubmit()" [disabled]="!selectedFile">Upload</button>
          </div>
        </div>



        <button type="submit" class="btn app-btn-primary" (click)="Update(location, price, roomType, description, numOfBeds, selectedServices)">Update Room</button>

        <button routerLink="/OwnerDashboard/rooms" class="btn app-btn-primary" style="float: right;">Confirm</button>



    </form>
    </div>
  </div>
  <!--//app-wrapper-->
</body>

