  <!-- ======= Property Search Section ======= -->
  <!-- <div class="click-closed"></div> -->
  <!--/ Form Search Star /-->
  <!-- <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Room</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label class="pb-2" for="Type">Keyword</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="Type">Type</label>
              <select class="form-control form-select form-control-a" id="Type">
                <option>All Type</option>
                <option>For Rent</option>
                <option>For Sale</option>
                <option>Open House</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="city">City</label>
              <select class="form-control form-select form-control-a" id="city">
                <option>All City</option>
                <option>Alabama</option>
                <option>Arizona</option>
                <option>California</option>
                <option>Colorado</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="bedrooms">Bedrooms</label>
              <select class="form-control form-select form-control-a" id="bedrooms">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="garages">Garages</label>
              <select class="form-control form-select form-control-a" id="garages">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="bathrooms">Bathrooms</label>
              <select class="form-control form-select form-control-a" id="bathrooms">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="price">Min Price</label>
              <select class="form-control form-select form-control-a" id="price">
                <option>Unlimite</option>
                <option>$50,000</option>
                <option>$100,000</option>
                <option>$150,000</option>
                <option>$200,000</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Search Property</button>
          </div>
        </div>
      </form>
    </div>
  </div> -->
  <!-- End Property Search Section -->>

  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-toggler collapsed" (click)="toggleMenu()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <a class="navbar-brand text-brand" routerLink="/"><span class="color-b">{{ 'Mo8tareb' | translate }}</span></a>

      <div *ngIf="!isCollapsed" class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">{{ 'Home' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/rooms">{{ 'Rooms' | translate }}</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" routerLink="/MyRooms">{{ 'My Rooms'| translate  }}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLinkActive="active" routerLink="/JoinUsAsOwner">{{ 'Rent A Room'| translate   }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="/Mo8tarebGBTWelcomePage">{{ 'Mo8tareb'| translate  }} GPT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/about">{{ 'About' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/contact">{{ 'Contact' | translate }}</a>
          </li>
        </ul>

      </div>




      <div *ngIf="isCollapsed" class="navbar-collapse show collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">{{ 'Home' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/rooms">{{ 'Rooms' | translate }}</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" routerLink="/MyRooms">{{ 'My Rooms'| translate  }}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLinkActive="active" routerLink="/JoinUsAsOwner">{{ 'Rent A Room'| translate   }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="/Mo8tarebGBTWelcomePage">{{ 'Mo8tareb'| translate  }} GPT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/about">{{ 'About' | translate }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/contact">{{ 'Contact' | translate }}</a>
          </li>
        </ul>

      </div>
      <!-- <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
        <i class="bi bi-search"></i>
      </button> -->


<div *ngIf="UserIsLoggedIn() " class="isLoggedIn">
  <button (click)="SignOut()" class="btn-lg m-1 btn btn-sm btn-success" style="background-color: #2eca6a; height: 37px; color:white">{{ 'Sign out' | translate }}</button>
  </div>


  <div *ngIf="!UserIsLoggedIn() " class="NoLogIn">
    <button routerLink="/login" class="btn-lg m-1 btn btn-sm btn-success" style="background-color: #2eca6a; height: 37px; color:white">{{ 'Register' | translate }}</button>
  </div>

  <div>
    <select id="language-select" (change)="useLanguage($event)">
      <option value="en" [selected]="translate.currentLang === 'en'">{{ 'ENGLISH' | translate }}</option>
      <option value="ar" [selected]="translate.currentLang === 'ar'">{{ 'ARABIC' | translate }}</option>
    </select>
  </div>

</div>
  </nav><!-- End Header/Navbar -->


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Get the toggle button and collapse menu
      var toggleButton = $(".navbar-toggler");
      var collapseMenu = $(".navbar-collapse");

      // When the toggle button is clicked on mobile screens, toggle the collapse menu
      toggleButton.on("click", function() {
        collapseMenu.toggleClass("show");
      });

      // If the collapse menu is open and the window is resized to a larger screen, hide the collapse menu
      $(window).on("resize", function() {
        if (collapseMenu.hasClass("show") && $(this).width() > 991) {
          collapseMenu.removeClass("show");
        }
      });
    });
  </script>


