<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b4f2d1ac-2955-4af4-a95d-88a47546c2bb/resourceGroups/Mo8tareb/providers/Microsoft.Web/sites/Mo8tarebWebApp</ResourceId>
    <ResourceGroup>Mo8tareb</ResourceGroup>
    <ApiResourceId>/subscriptions/b4f2d1ac-2955-4af4-a95d-88a47546c2bb/resourceGroups/Mo8tareb/providers/Microsoft.ApiManagement/service/Mo8tareb-RoomRentalWebApp/apis/Mo8tareb-RoomRentalWebAppApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mo8tarebwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>de4a45fd-cfeb-4ca3-bec9-f9fb8c8dfe98</ProjectGuid>
    <MSDeployServiceURL>mo8tarebwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Mo8tarebWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Mo8tarebWebApp</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>