<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <!-- MATERIAL DESIGN ICONIC FONT -->
 <link rel="stylesheet" href="/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

<!-- STYLE CSS -->
<link rel="stylesheet" href="/assets/css/style.css">
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="form-gap"></div>

<div class="wrapper" style="background-image: url('../../../assets/images/abstract-digital-grid-black-background.jpg');">
  <div class="container ">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="panel panel-default rounded border border-info">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Forgot Password?</h2>
              <p>You can reset your password here.</p>
              <div class="panel-body">
                <form id="register-form" (ngSubmit)="sendForgetPasswordToApi(email.value) " [formGroup]="formValidation" role="form" autocomplete="off" class="form" method="post">
                  <div class="form-group">
                    <div class="input-group ">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                      <input (input)="resetApiError()" formControlName="email" name="email" #email  type="text" placeholder="  Email Address" class="form-control">
                    </div>
                  </div>
                  <span *ngIf="(!validEmail()&& email.value )|| getAPIError() " id="emailHelp" class="form-text text-danger text-end">Not a Valid Email !</span>
                  <div class="form-group">
                    <input name="recover-submit" class=" btn-lg w-50 h-50 m-auto btn btn-secondary" value="Reset Password" type="submit">

                  </div>
                  <input type="hidden" class="hide" name="token" id="token" value="">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
